h1{
    font-size: 40px;
    letter-spacing: -0.5px;
}

.navigation{
    width: 36%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.nav{
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 6px 12px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}